.git
.github
.env
.env.local
.env.*.local
config/redcap_config_local.yml
credentials/
.mypy_cache
.pytest_cache
.venv
**/__pycache__
**/*.pyc
archive/
data/deidentified/
data/interim/
data/processed/
data/raw/
.devcontainer/.venv/
logs/
notebooks/
raw/
secure_data/
